@charset "utf-8";

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 95%;
  text-align: center;
  overflow: hidden;
  background-color: #000;
}

#container {
  position: relative;
  height: 100%;
}

#video {
  width: 0px;
  height: 0px;
  background-color: #000;
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
}

#diapan {
  width: 0px;
  height: 0px;
  position: absolute;
}

#shutter {
  left: auto;
  right: auto;
  bottom: 16px;
  padding: 0;
  margin-left: -40px;
  border: none;
  background: transparent;
  position: absolute;
  outline: 0;
  z-index: 1;
}

#shutter img {
  display: block;
  width: 80px;
  height: 80px;
}
